* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
}

.sign-in {
  display: flex;
  align-items: center;
}

.sign-in button {
  background-color: transparent;
  border: none;
  color: #0077cc;
  font-size: 0.8rem;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

main form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

main form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

main form button {
  width: 20%;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

main form button:hover {
  background-color: #ddd;
}

main form #i-m-feeling-lucky {
  width: 30%;
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: #f2f2f2;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left p {
  margin-right: 1rem;
}

.footer-left a {
  color: #0077cc;
  text-decoration: none;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-right p {
  margin-right: 1rem;
}